* {
    box-sizing: border-box;
    color: #fff;
    background-color: #121212;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    scroll-behavior: smooth;
}

*::-webkit-scrollbar {
    width: 3px;
}

*::-webkit-scrollbar-track {
    background-color:#121212;
}

*::-webkit-scrollbar-thumb {
    background-color: #6C63FF;
    border-radius: 20px;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
    padding: 2px 9%;
  }
  
  nav a{
    text-decoration: none;
    font-size: 20px;
  }
  
  nav ul li{
    display: inline-block;
    list-style: none;
    margin-right: 1rem;
  }

  .menu-mobile{
    display: none;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  .mostra-menu{
    display: block;
  }


  @media (max-width: 550px) {
    header{
      flex-direction: column;
      align-items: flex-start;
    }
    nav{
      width: 100%;
    }
    nav ul{
      display: none;
      padding-left: 0;
    }
    nav ul li{
      display: block;
      padding: 1rem 0;
      width: 100%;
      text-align: center;
    }
    nav ul li:last-child{
      border: none;
    }
    .menu-mobile{
      display: block;
    }
    .menu-mobile img{
      width: 1.5rem;
    }
    .conteudo-introducao {
      flex-wrap: wrap;
    }
  }

.conteudo-introducao {
  display: flex;
}

.imagem-portifolio {
  margin-left: 9%;
  margin-top: 220px;
  margin-right: 9%;
}

.titulo {
    margin-top: 5px;
    font-size: 1rem;
}

.introducao {
    margin-top: 240px;
    margin-left: 9%;
}

.meuNome {
    font-size: 20px;
    font-weight: 400;
    color: #e7e4e4;
}

.gisela {
    font-size: 60px;
    letter-spacing: 5px;
}

.front {
    font-size: 40px;
    letter-spacing: 2px;
    color: #808080;
    margin-bottom: 50px;
}

.button {
    background-color: #6C63FF;
    padding: 10px 40px;
    border-radius: 5px;
}

a {
    text-decoration: none;
}

.sobre, h3, p {
    margin-left: 9%;
    margin-top: 300px;
    margin-right: 9%;
    background-color: #1b1b1b;
    border-radius: 10px;
}

.projetos, h3, p {
  margin-left: 9%;
  margin-top: 100px;
  margin-right: 9%;
  background-color: #1b1b1b;
  border-radius: 10px;
}

h3 {
    font-size: 40px;
    padding-top: 20px;
}

p {
    margin-top: 20px;
    margin-bottom: 200px;
    padding-bottom: 30px;

}

footer, .contatos, .nome, .icons {
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #1b1b1b;
    padding: 8px;
}

.contatos {
  display: flex;
  justify-content: center;
}

.icons {
  background-color: #1b1b1b;
  width: 80px;
  height: 80px;
}

img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}

.nome {
  margin-bottom: 10px;
}